// 文本单行显示,超出显示省略号
.single-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//清楚浮动的
.clearfix:after {
  content: "";
  display: table;
  /* 也可以设置为block */
  clear: both;
}

//页面的容器
.container {
  width: 96%;
  min-height:95%;
  margin: 2rem auto;
  padding: 0.5rem;
  box-shadow: 0 0 10px gainsboro;
}

